In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('plrx.txt', delimiter = "\t", header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.17936,-0.207000,-0.209710,-0.097260,-0.119210,-0.173220,-0.280760,0.223170,0.418660,-0.032886,0.003383,-0.334250,1.0,NaN
1,-0.14659,-0.164940,0.249870,-0.073985,0.494940,-0.156330,-0.288910,0.500800,-0.045553,0.050759,-0.017511,0.066959,1.0,NaN
2,-0.13131,0.518160,0.432810,0.397890,0.043127,0.563200,-0.013246,-0.062833,-0.883390,-0.040303,0.088057,0.631200,2.0,NaN
3,0.64940,0.418780,0.148350,0.333490,-0.219740,0.398910,0.590650,0.077100,-1.107200,-0.367230,0.364680,0.571720,1.0,NaN
4,-0.40628,0.115030,0.073336,0.070066,-0.030920,0.152050,-0.191420,-0.580430,-0.102250,0.153750,-0.126950,0.184570,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,-0.55005,0.276290,-0.273240,0.113190,-0.776980,0.522660,-0.850620,0.440040,0.203910,-0.014462,0.002273,-0.100480,2.0,NaN
178,-0.78399,0.254600,-0.700990,-0.299170,-0.858330,0.210500,-0.530050,0.518550,-0.303190,0.020018,-0.020915,0.663940,1.0,NaN
179,0.29877,-0.179620,0.032859,-0.899010,0.540300,-0.361840,0.177900,0.713250,-0.098148,-0.411130,0.246830,-0.389160,2.0,NaN
180,-0.37812,-0.522870,0.215410,-0.243590,0.637840,-0.492210,-0.506930,-0.258110,-0.328990,-0.039117,0.007591,0.476030,1.0,NaN
181,0.37913,-0.046562,-0.123360,-0.063958,-0.109830,-0.045824,0.123800,0.496240,-0.641570,-0.242290,0.173690,0.490630,2.0,NaN

In [6]:
df.shape
#τα δείγματα (instances) είναι οι γραμμές και τα χαρακτηριστικά (attributes) οι στήλες
#χρειάστηκε το header=None για να μην παίρνει ως επικεφαλίδα την πρώτη γραμμή
#λόγω space στο txt έχει μια έξτρα στήλη NaN που πρέπει να διορθωθεί.
#df.shape -> διαστάσεις dataframe

(182, 14)

In [7]:
df.drop(13, axis=1, inplace=True)
#axis=1 όταν πρόκεται για στήλη (?), inplace=True για να κάνει την αλλαγή και όχι μόνο να μας δείξει πως θα ήταν

In [8]:
df.shape

(182, 13)

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.17936,-0.207000,-0.209710,-0.097260,-0.119210,-0.173220,-0.280760,0.223170,0.418660,-0.032886,0.003383,-0.334250,1.0
1,-0.14659,-0.164940,0.249870,-0.073985,0.494940,-0.156330,-0.288910,0.500800,-0.045553,0.050759,-0.017511,0.066959,1.0
2,-0.13131,0.518160,0.432810,0.397890,0.043127,0.563200,-0.013246,-0.062833,-0.883390,-0.040303,0.088057,0.631200,2.0
3,0.64940,0.418780,0.148350,0.333490,-0.219740,0.398910,0.590650,0.077100,-1.107200,-0.367230,0.364680,0.571720,1.0
4,-0.40628,0.115030,0.073336,0.070066,-0.030920,0.152050,-0.191420,-0.580430,-0.102250,0.153750,-0.126950,0.184570,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,-0.55005,0.276290,-0.273240,0.113190,-0.776980,0.522660,-0.850620,0.440040,0.203910,-0.014462,0.002273,-0.100480,2.0
178,-0.78399,0.254600,-0.700990,-0.299170,-0.858330,0.210500,-0.530050,0.518550,-0.303190,0.020018,-0.020915,0.663940,1.0
179,0.29877,-0.179620,0.032859,-0.899010,0.540300,-0.361840,0.177900,0.713250,-0.098148,-0.411130,0.246830,-0.389160,2.0
180,-0.37812,-0.522870,0.215410,-0.243590,0.637840,-0.492210,-0.506930,-0.258110,-0.328990,-0.039117,0.007591,0.476030,1.0
181,0.37913,-0.046562,-0.123360,-0.063958,-0.109830,-0.045824,0.123800,0.496240,-0.641570,-0.242290,0.173690,0.490630,2.0

In [15]:
df[12].unique()

array([1., 2.])