In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.read_csv('plrx.txt', delimiter = "\t", header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.17936,-0.207000,-0.209710,-0.097260,-0.119210,-0.173220,-0.280760,0.223170,0.418660,-0.032886,0.003383,-0.334250,1.0,NaN
1,-0.14659,-0.164940,0.249870,-0.073985,0.494940,-0.156330,-0.288910,0.500800,-0.045553,0.050759,-0.017511,0.066959,1.0,NaN
2,-0.13131,0.518160,0.432810,0.397890,0.043127,0.563200,-0.013246,-0.062833,-0.883390,-0.040303,0.088057,0.631200,2.0,NaN
3,0.64940,0.418780,0.148350,0.333490,-0.219740,0.398910,0.590650,0.077100,-1.107200,-0.367230,0.364680,0.571720,1.0,NaN
4,-0.40628,0.115030,0.073336,0.070066,-0.030920,0.152050,-0.191420,-0.580430,-0.102250,0.153750,-0.126950,0.184570,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,-0.55005,0.276290,-0.273240,0.113190,-0.776980,0.522660,-0.850620,0.440040,0.203910,-0.014462,0.002273,-0.100480,2.0,NaN
178,-0.78399,0.254600,-0.700990,-0.299170,-0.858330,0.210500,-0.530050,0.518550,-0.303190,0.020018,-0.020915,0.663940,1.0,NaN
179,0.29877,-0.179620,0.032859,-0.899010,0.540300,-0.361840,0.177900,0.713250,-0.098148,-0.411130,0.246830,-0.389160,2.0,NaN
180,-0.37812,-0.522870,0.215410,-0.243590,0.637840,-0.492210,-0.506930,-0.258110,-0.328990,-0.039117,0.007591,0.476030,1.0,NaN
181,0.37913,-0.046562,-0.123360,-0.063958,-0.109830,-0.045824,0.123800,0.496240,-0.641570,-0.242290,0.173690,0.490630,2.0,NaN

In [7]:
df.shape
#τα δείγματα (instances) είναι οι γραμμές και τα χαρακτηριστικά (attributes) οι στήλες
#χρειάστηκε το header=None για να μην παίρνει ως επικεφαλίδα την πρώτη γραμμή


#λόγω space στο txt έχει μια έξτρα στήλη NaN που πρέπει να διορθωθεί.
#df.shape -> διαστάσεις dataframe

(182, 14)

In [8]:
df.isnull()

#εντολή isnull δίνεται η τιμή True όπου υπάρχει κενή τιμή στο dataset, με την isnull.sum() μπορούμε να δούμε σε κάθε κολόνα
#πόσα κενά υπάρχουν

pd.isnull(df).sum()

#παρατηρούμε οτι στην κολόνα 13 λείπουν όλες οι τιμές 

percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13    100.0
dtype: float64

In [9]:
df.drop(13, axis=1, inplace=True)
#axis=1 όταν πρόκεται για στήλη (?), inplace=True για να κάνει την αλλαγή και όχι μόνο να μας δείξει πως θα ήταν
df.shape

(182, 13)

In [10]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.17936,-0.207000,-0.209710,-0.097260,-0.119210,-0.173220,-0.280760,0.223170,0.418660,-0.032886,0.003383,-0.334250,1.0
1,-0.14659,-0.164940,0.249870,-0.073985,0.494940,-0.156330,-0.288910,0.500800,-0.045553,0.050759,-0.017511,0.066959,1.0
2,-0.13131,0.518160,0.432810,0.397890,0.043127,0.563200,-0.013246,-0.062833,-0.883390,-0.040303,0.088057,0.631200,2.0
3,0.64940,0.418780,0.148350,0.333490,-0.219740,0.398910,0.590650,0.077100,-1.107200,-0.367230,0.364680,0.571720,1.0
4,-0.40628,0.115030,0.073336,0.070066,-0.030920,0.152050,-0.191420,-0.580430,-0.102250,0.153750,-0.126950,0.184570,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,-0.55005,0.276290,-0.273240,0.113190,-0.776980,0.522660,-0.850620,0.440040,0.203910,-0.014462,0.002273,-0.100480,2.0
178,-0.78399,0.254600,-0.700990,-0.299170,-0.858330,0.210500,-0.530050,0.518550,-0.303190,0.020018,-0.020915,0.663940,1.0
179,0.29877,-0.179620,0.032859,-0.899010,0.540300,-0.361840,0.177900,0.713250,-0.098148,-0.411130,0.246830,-0.389160,2.0
180,-0.37812,-0.522870,0.215410,-0.243590,0.637840,-0.492210,-0.506930,-0.258110,-0.328990,-0.039117,0.007591,0.476030,1.0
181,0.37913,-0.046562,-0.123360,-0.063958,-0.109830,-0.045824,0.123800,0.496240,-0.641570,-0.242290,0.173690,0.490630,2.0

In [11]:
df[12].unique() #οι κλάσεις είναι 2 με τιμές 1 και 2 όπως εκτυπώνει η εντολή , binary dataset

array([1., 2.])

In [12]:
#υπάρχουν ετικέτες κλάσεων (1,2) και βρίσκονται στην 13η κολόνα

#με την εντολή isnull δίνεται η τιμή True όπου υπάρχει κενή τιμή στο dataset, με την isnull.sum() μπορούμε να δούμε σε κάθε κολόνα
#πόσα κενά υπάρχουν

In [13]:
#με την παρακάτω εντολή μετράμε στην 13η κολόνα πόσες 1.0 τιμές υπάρχουν, άρα 130->1.0 και 52->2.0 άρα μη ισορροπημένο dataset
df[12].value_counts()[1.0]

130

In [16]:
from sklearn.model_selection import train_test_split
training_data, testing_data = train_test_split(df, test_size=0.3, train_size=None, random_state=None)

In [17]:
training_data

,0,1,2,3,4,5,6,7,8,9,10,11,12
134,0.582170,-0.045015,-0.191870,-0.012795,-0.377450,0.042399,0.294060,0.017011,0.289060,0.496680,-0.437830,0.165170,2.0
171,-0.146480,-0.104560,0.270550,0.423220,0.213750,-0.053184,-0.078576,-0.278210,0.241850,0.191050,-0.127150,-0.101890,2.0
115,-0.398080,0.160550,1.000000,0.636960,0.965830,0.274220,-0.422930,0.131900,0.343480,0.055806,-0.050002,-0.191220,1.0
79,-0.273900,-1.003900,-0.548140,-1.085900,0.213020,-0.942040,-0.675250,0.648210,-0.745500,-0.413910,0.353250,0.395430,1.0
138,0.582170,-0.045015,-0.191870,-0.012795,-0.377450,0.042399,0.294060,0.017011,0.289060,0.496680,-0.437830,0.165170,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,0.329120,-0.147180,-0.386830,-0.243550,-0.282850,-0.210900,0.214710,0.207010,0.240390,-0.027824,0.029990,-0.262500,1.0
97,-0.188400,-0.547120,-0.070795,-0.295190,0.242760,-0.429230,-0.486230,0.450150,-0.145860,0.040647,-0.043630,0.182860,1.0
67,-0.715510,0.231020,0.240420,0.229220,-0.039318,0.391940,-0.617020,-0.476850,0.341280,0.092268,-0.111700,-0.141090,1.0
44,0.258040,-0.383100,-0.021030,-0.173750,0.212140,-0.306100,-0.114430,0.271590,-0.256260,-0.455690,0.391230,-0.131520,1.0
129,-0.025852,-0.040066,-0.240340,-0.463700,-0.101370,-0.096433,0.005884,-0.102580,-0.024743,-0.176820,0.144380,-0.092003,1.0

In [20]:
testing_data.shape

(55, 13)

In [26]:
training_data

,0,1,2,3,4,5,6,7,8,9,10,11,12
134,0.582170,-0.045015,-0.191870,-0.012795,-0.377450,0.042399,0.294060,0.017011,0.289060,0.496680,-0.437830,0.165170,2.0
171,-0.146480,-0.104560,0.270550,0.423220,0.213750,-0.053184,-0.078576,-0.278210,0.241850,0.191050,-0.127150,-0.101890,2.0
115,-0.398080,0.160550,1.000000,0.636960,0.965830,0.274220,-0.422930,0.131900,0.343480,0.055806,-0.050002,-0.191220,1.0
79,-0.273900,-1.003900,-0.548140,-1.085900,0.213020,-0.942040,-0.675250,0.648210,-0.745500,-0.413910,0.353250,0.395430,1.0
138,0.582170,-0.045015,-0.191870,-0.012795,-0.377450,0.042399,0.294060,0.017011,0.289060,0.496680,-0.437830,0.165170,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,0.329120,-0.147180,-0.386830,-0.243550,-0.282850,-0.210900,0.214710,0.207010,0.240390,-0.027824,0.029990,-0.262500,1.0
97,-0.188400,-0.547120,-0.070795,-0.295190,0.242760,-0.429230,-0.486230,0.450150,-0.145860,0.040647,-0.043630,0.182860,1.0
67,-0.715510,0.231020,0.240420,0.229220,-0.039318,0.391940,-0.617020,-0.476850,0.341280,0.092268,-0.111700,-0.141090,1.0
44,0.258040,-0.383100,-0.021030,-0.173750,0.212140,-0.306100,-0.114430,0.271590,-0.256260,-0.455690,0.391230,-0.131520,1.0
129,-0.025852,-0.040066,-0.240340,-0.463700,-0.101370,-0.096433,0.005884,-0.102580,-0.024743,-0.176820,0.144380,-0.092003,1.0